.ancestor-card {
    position: relative;
    background-color: grey;
    padding: 5px;
    border-radius: 15px;
    width: 13em;
}

.ancestor-card:hover {
    cursor: pointer;
}

.ancestor-description {
    color: white;
}