.spouse-card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    gap: 1em;
}
.spouse-card span {
   width: 20px;
   font-size: 30px;
   text-align: center;

   font-weight: bolder;
   color: white;
}
.handle {
    justify-self: center;
    align-self: center;
}