/*

    Local Ancestor Relationship Container Styling

*/

.local-ancestor-relationships {
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-evenly;
}

.ancestor-relationship {
    width: 400px;
    height: fit-content;
    padding-bottom: 10px;
    background-color: red;
    font-size: 24px;
    font-weight: bold;
}

.ancestor-relationship-seperator {
    position: relative;
    justify-self: center;
    width: 90%;
    height: 2px;
    background-color: gray;
}

#children {
    background-color: pink;
}

#spouse {
    background-color: teal;
}

#parents {
    background-color: blueviolet;
}

/*

    Ancestor Info Styling

*/

.ancestor-info-container {
    width: 50%;
    margin-left: 15px;
    background-color: red;
    display: flex;

    flex-direction: column;
}

.ancestor-name {
    color: white;
}

.ancestor-dates {
    color: white;
}



/*

    Ancestor Biography Section styling.

*/

.ancestor-bio-container {
    width: 95%;
    height: 250px;
    max-height: fit-content;
    margin-top: 20px;
    justify-self: center;
    color: black;
    
}

.ancestor-bio {
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.ancestor-bio-headerbutton {
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#edit-bio {
    align-self: center;
    
}

.bio-header {
    margin: 0px;
    align-self: center;
    flex: 1;
}



/*  This is styling for the document grid.  */

.ancestor-documents {
    margin-top: 2em;
}

.document-grid {
    list-style: none;
    justify-self: center;
    padding: 0px;
}

#edit-bio:hover {
    cursor: pointer;
    background-color: rgba(21, 255, 0, 0.365);
    box-shadow: 0 0 10px 0 rgba(21, 255, 0, 0.365);
}

#add-document:hover {
    cursor: pointer;
    background-color: rgba(21, 255, 0, 0.365);
    box-shadow: 0 0 10px 0 rgba(21, 255, 0, 0.365);
}

/*

    Admin Button Styling

*/

.admin-buttons {
    display: flex;
    width: 95%;
    margin-top: 20px;
    height: 30px;
    justify-self: center;
    justify-content: flex-end;
    gap: 10px;
}

.admin-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    color: black;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    transition: background-color 0.5s, box-shadow 0.5s;
}

