.ancestor-relationships{
    width: 25%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.ancestor-relationship {
    width: 30%;
    height: fit-content;
    background-color: red;
}
.ancestor-relationship-seperator {
    width: 15px;
    height: 20px;
    background-color: red;
}
#children {
    background-color: pink;
}

#spouse {
    background-color: teal;
}

#parents {
    background-color: blueviolet;
}

.ancestor-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    height: fit-content;
}

.ancestor-name {
    color: white;
}

.ancestor-dates {
    color: white;
}

.ancestor-documents {
    margin-top: 2em;
}
.document-grid {
    list-style: none;
    justify-self: center;
    padding: 0px;
}

.admin-buttons {
    display: flex;
    width: 95%;
    margin-top: 20px;
    height: 30px;
    justify-self: center;
    justify-content: flex-end;
    gap: 10px;
}

.admin-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    color: white;
    font-weight: bolder;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    transition: background-color 0.5s, box-shadow 0.5s;
}

#edit-info:hover {
    cursor: pointer;
    background-color: rgba(0, 255, 213, 0.583);
    box-shadow: 0 0 10px 0 rgba(0, 255, 213, 0.583);
}

#add-document:hover {
    cursor: pointer;
    background-color: rgba(21, 255, 0, 0.365);
    box-shadow: 0 0 10px 0 rgba(21, 255, 0, 0.365);
}